[Unit]
Description="Backend Flask server application"
After=network.target

[Service]
WorkingDirectory={{ repo_absolute_path.stdout }}

Environment=PYTHONUNBUFFERED=1
ExecStart={{ backend_python.virtualenv }}/bin/python {{ repo_absolute_path.stdout }}/wsgi.py 2> /dev/null
