[Unit]
Description="Backend Flask server application"
After=network.target

[Service]
WorkingDirectory={{ repo_absolute_path.stdout }}

Environment=PYTHONUNBUFFERED=1
ExecStart={{ backend_develop | ternary(venv_python_executable.stdout, '/usr/bin/python' + venv_python_version.stdout)}}  {{ repo_absolute_path.stdout }}/wsgi.py 2> /dev/null
