[Unit]
Description="Backend Flask server application"
After=network.target

[Service]
ExecStart={{ develop | ternary(venv_python_executable.stdout, '/usr/bin/python' + venv_python_version.stdout)}}  {{ repo_absolute_path.stdout }}/wsgi.py
